<!DOCTYPE html>
<html>
  <head>
    <title>Social Network</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_include_tag "application", "data-turbo-track": "reload", type: "module" %>
  </head>

  <body>
    <header class="py-3 mb-3 border-bottom">
      <div class="container-fluid d-grid gap-3 align-items-center" style="grid-template-columns: 1fr 2fr;">
        <%= link_to "Demo Social", root_path, class: "d-flex align-items-center col-lg-4 mb-2 mb-lg-0 link-body-emphasis text-decoration-none" %>

        <div class="d-flex align-items-center">
          <ul class="nav col-12 col-lg-auto me-lg-auto mb-2 justify-content-center mb-md-0">
            <li><%= link_to "My Profile", profile_path(current_user.id), class: "nav-link px-2 link-secondary" %></li>
            <li><%= link_to "Payments", payments_path, class: "nav-link px-2 link-body-emphasis" %></li>
          </ul>

          <%= form_tag(root_path, method: :get, class: "d-flex align-items-center mx-auto mb-2 mb-lg-0") do %>
            <%= text_field_tag(:name, params[:name], class: "form-control me-2", placeholder: "Enter name") %>
            <%= button_tag("Search", type: "submit", class: "btn btn-primary") %>
          <% end %>

          <div class="flex-shrink-0 dropdown">
            <a href="#" class="d-block link-body-emphasis text-decoration-none dropdown-toggle" data-bs-toggle="dropdown" aria-expanded="false">
              <%= strip_tags(current_user.name) %> (<%= number_to_currency(current_user.balance) %>)
              &nbsp;
              <img src="https://i.pravatar.cc/32?u=user<%= current_user.id %>" alt="mdo" width="32" height="32" class="rounded-circle">
            </a>
            <ul class="dropdown-menu text-small shadow">
              <li><%= link_to "Edit profile", edit_profile_path(current_user), class: "dropdown-item" %></li>
              <li><hr class="dropdown-divider"></li>
              <li><%= link_to "Sign Out", destroy_user_session_path, method: :delete, class: "dropdown-item" %></li>
            </ul>
          </div>
        </div>
      </div>
    </header>
    <div class="container">
      <% if notice.present? %>
        <div class="alert alert-success"><%= notice %></div>
      <% end %>
      <% if alert.present? %>
        <div class="alert alert-danger"><%= alert %></div>
      <% end %>
      <%= yield %>
    </div>
  </body>
</html>
